build/
dist/
/JScript/Esame31012019/nbproject/private/
/JScript/JLez06_Dadi/nbproject/private/
/Java/JLez07/nbproject/private/
/Java/JSDado/nbproject/private/
/Java/JOOContCorr/nbproject/private/
/Java/JOOBanca/nbproject/private/
/Java/JOOGarage/nbproject/private/
/Java/JOOOrario/nbproject/private/
/Java/JOOTelefonia/nbproject/private/
/Java/pallina/nbproject/private/
/Java/Orologio/nbproject/private/
/Java/JClassAbst/nbproject/private/
/Java/JFX_01/nbproject/private/
/Java/memory/nbproject/private/
/HTML/memory/nbproject/private/